#Dialog {
    background-color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 3px black;
    padding: 2px;
    border-radius: 2px;
    min-width: 150px;
    z-index: 10;
}

#DialogTitle {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    font-size: 110%;
    font-weight: bold;
}

#DialogBody {
    margin: 20px;
}

#Dialog hr {
    opacity: 0.2;
}

#DialogOverlay {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

.buttons {
    margin: 8px;
}

.buttons > button {
    font-size: 1.1em;
}
